<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication16.Properties.Settings.inbasemgmConnectionString"
            connectionString="Data Source=DESKTOP-5NDQC5S;Initial Catalog=inbasemgm;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>